Report/Report.fdb_latexmk
*/__pycache__/
*.aux
*.fls
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

map.gif
python/images/*
*.gif
.venv_ml_abm
.venv_ml_cuda
python/experimental/tst_DQN/log
python/experimental/tst_DQN_Multidiscrete/log
.vscode
.venv_ml_baselines
Literature/*
python/experimental/tst_DQN/log
python/log/*
python/log_ppo/*
python/configs
python/Doc/_build
python/Doc/_build/*

*.zip
*.rst
*.html
